<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elsehly</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <!-- Styled Search Bar -->
        <div class="search-bar">
            <span class="search-icon">🔍</span>
            <input type="text" id="phone-search" placeholder="Search for a phone">
        </div>
    </header>

    <h1>Phones Comparison Platform</h1>
    <ul id="phone-list"></ul>

    <script>
        const input = document.querySelector('#phone-search');
        const phoneList = document.querySelector('#phone-list');

        input.addEventListener('keyup', function() {
            const query = input.value;

            if (query) {
                fetch(`/search?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    let html = '';
                    data.forEach(phone => {
                        html += `
                            <li class="phone-card">
                                <img src="${phone.image_link || 'https://via.placeholder.com/100'}" alt="${phone.model_name}">
                                <div class="details">
                                    <h2>${phone.model_name}</h2>
                                    <p><strong>Website:</strong> ${phone.web_store || 'N/A'}</p>
                                    <p><strong>Brand:</strong> ${phone.company_name || 'N/A'}</p>
                                    <p class="Price:">${phone.price_after_promotion || 'N/A'}</p>
                                </div>
                                <a href="/phone/${phone.id}">View Details</a>
                            </li>`;
                    });
                    phoneList.innerHTML = html;
                });
            } else {
                // If search is cleared, show an empty list
                phoneList.innerHTML = '';
            }
        });
    </script>
</body>
</html>
